@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}

/* .text-info {
  color: #5570f1;
}

.text-negative {
  color: #f57e77;
}

.border-info {
  border: #5570f1 1px solid;
}

.border-negative {
  border: #f57e77 1px solid;
} */
